@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
* {
    font-family: 'Do Hyeon', sans-serif;
}

.cor {
    color: white;
}

.tam {
    font-size: 2.5rem;
    color: whitesmoke;
}

::-webkit-scrollbar  {
    background-color: rgb(189, 189, 189);
} 
::-webkit-scrollbar-thumb {
    background-color: rgb(95, 93, 93);
    
}